@model TraSuaWeb.Models.Tintuc

@{
    ViewData["Title"] = "Chỉnh Sửa Tin Tức";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Styles{
    <link href="~/Admin/assets/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/Admin/assets/summernote/summernote.css" rel="stylesheet" />
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Ad" asp-controller="Home" asp-action="index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Ad" asp-controller="AdSize" asp-action="index">Danh sách size</a>
            <span class="breadcrumb-item active">Sửa @Model.TieuDe</span>
        </nav>
    </div>
</div>
<form asp-area="Admin" asp-controller="Tintucs" asp-action="Edit" asp-route-id="@Model.IdTt" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdTt" />
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Tên Size</label>
                        <input type="text" class="form-control" asp-for="TieuDe">
                    </div>
                    <div class="form-group">
                        <label asp-for="AnhGt" class="control-label">Ảnh Tin Tức</label>
                        <input type="file" name="fAnhTT" id="fAnhTT" class="form-control" />
                        <span asp-validation-for="AnhGt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea class="summernote" asp-for="MoTa"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productStatus">Status</label>                      
                        <div class="form-group d-flex align-items-center">
                            <div class="switch m-r-10">
                                <input type="checkbox" asp-for="AnHien" checked="">
                                <label for="AnHien"></label>
                            </div>
                            <label>Trạng thái ẩn hiện</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script src="~/Admin/assets/vendors/select2/select2.min.js"></script>
    <script src="~/Admin/assets/js/pages/e-commerce-product-edit.js"></script>

    <script src="~/Admin/assets/summernote/summernote-bs4.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            $('.summernote').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 200,
                minHeight: null,
                macHeight: null,
                focus: true
            });
        });
    </script>
}


@*<h4>Tintuc</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdTt" />
                <div class="form-group">
                    <label asp-for="TieuDe" class="control-label"></label>
                    <input asp-for="TieuDe" class="form-control" />
                    <span asp-validation-for="TieuDe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AnhGt" class="control-label"></label>
                    <input asp-for="AnhGt" class="form-control" />
                    <span asp-validation-for="AnhGt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MoTa" class="control-label"></label>
                    <input asp-for="MoTa" class="form-control" />
                    <span asp-validation-for="MoTa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@