
@{ ViewData["Title"] = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

<div style=" width:80%; float:left; border-left:dotted 5px; border-color:azure">
    <img src="~/images/imagehomeadmin/nen.jpg" width="140%" />
</div>
