
<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc"style="background-color: rgb(229, 221, 204); padding-top: 57px; padding-bottom: 9px;" >
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <a href="index.html">
                                <img src="~/images/logo/logosp/102.png" alt="Logo">
                            </a>
                        </div>
                        <p class="short-desc mb-2">Với phương châm rẻ mà chất lượng cửa hàng của chúng tôi cam kết sẽ đem đến cho các bạn một trải nghiệm tuyệt vời</p>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <i class="pe-7s-map-marker"></i>
                                    Đa Cao, Quận 1
                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a href="mailto://nguyenhoang.100201@gmail.com">nguyenhoang.100201@gmail.com</a>
                                </li>
                            </ul>
                        </div>                      
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Thông tin</h3>
                        <ul class="widget-list-item">                          
                            <li>
                                <a href="javascript:void(0)">cửa hàng</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Lợi nhận</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Tình trạng đặt hàng</a>
                            </li>                         
                            <li>
                                <a href="javascript:void(0)">Khả năng tiếp cận</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Tài khoản</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">Tài khoản của tôi</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Thanh toán</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Xác thực</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Yêu thích</a>
                            </li >                         
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
                    <div class="fb-page" data-href="https://www.facebook.com/Shop-bhl-100895045548782/" data-tabs="" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Shop-bhl-100895045548782/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Shop-bhl-100895045548782/">Shop bhl</a></blockquote></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#bac34e">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">© 2021 Trà sữa Technology <i class="fa fa-heart text-danger"></i> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>